.screen {
    border: 1px solid blue;
    overflow: auto;
    height: 400px;
}

.pull-to-refresh-wrap {
    position: relative;
    /*transition: translateY 2s linear 0;*/
    transition-property: translateY;
    transition-duration: 3s;
}

.pull-to-refresh-loading {
    background-color: red;
    position: absolute;
    z-index: 1;
}

.pull-to-refresh-loading-top {
    /*transform: translateY(-20px);*/
    top: 0;
}

.pull-to-refresh-loading-bottom {
    bottom: 0;
}

.pull-to-refresh-list {
    padding: 0;
    margin: 0;
    background-color: green;
    position: relative;
    transform: translateY(0px);
    /*transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    transition-delay: 0ms;*/
}

.onrefresh .pull-to-refresh-list {
    background-color: yellow;
    transform: translateY(50px);
}

.pull-to-refresh-list.active-down {
    background-color: yellow;;
}

.pull-to-refresh-list li {
    border: 1px solid black;
}